@import "tailwindcss";
@import "fumadocs-ui/css/vitepress.css";
@import "fumadocs-ui/css/preset.css";

@import "@pipecat-ai/voice-ui-kit/styles.scoped";

:root {
  --color-fd-primary: var(--color-sky-600);
  --default-font-family: var(--font-sans);
  --default-mono-font-family: var(--font-mono);
}
.dark {
  --color-fd-primary: var(--color-sky-300);
}

#nd-sidebar p {
  font-family: var(--default-mono-font-family);
  font-size: var(--text-xs);
  text-transform: uppercase;
  letter-spacing: var(--tracking-wider);
}

.shiki code {
  tab-size: 4;
}
.shiki {
  line-height: 1.75;
}
.shiki[data-line-numbers] code .line {
}
