@import "../src/css/index.css";
@source "../src/components/";
@source "../src/templates/";
@source "../src/css/";

code {
  font-size: 0.875rem;
  background-color: color-mix(in oklch, var(--color-agent) 10%, white);
  color: var(--color-agent);
  padding: 0.1rem 0.25rem;
  border-radius: var(--radius-sm);
}

.ladle-section-container {
  @apply flex flex-col gap-6 w-fit;
}

.ladle-section-container-full {
  @apply flex flex-col gap-6 w-full;
}

.ladle-section-header {
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: 0.05em;
  color: var(--color-text-secondary);
  text-transform: uppercase;
  border-bottom: 1px solid var(--color-border);
  @apply pb-2;
}

.ladle-section {
  @apply flex flex-row gap-4 pb-4 w-full;
}
