@import "../src/index.css";
@source "../src/components/";
@source "../src/templates/";
@source "../src/css/";

code {
  font-size: 0.875rem;
  background-color: color-mix(in oklch, var(--vkui-color-agent) 10%, white);
  color: var(--vkui-color-agent);
  padding: 0.1rem 0.25rem;
  border-radius: var(--vkui-radius-sm);
}

.ladle-section-container {
  @apply vkui:flex vkui:flex-col vkui:gap-6 vkui:w-fit;
}

.ladle-section-container-full {
  @apply vkui:flex vkui:flex-col vkui:gap-6 vkui:w-full;
}

.ladle-section-header {
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: 0.05em;
  color: var(--vkui-color-text-secondary);
  text-transform: uppercase;
  border-bottom: 1px solid var(--vkui-color-border);
  @apply vkui:pb-2;
}

.ladle-section {
  @apply vkui:flex vkui:flex-row vkui:gap-4 vkui:pb-4 vkui:w-full;
}
