@import "tailwindcss" prefix(vkui);
@import "tw-animate-css";

@custom-variant dark (&:is(.vkui\:dark *));

@theme static {
  --font-sans: "Geist", "Inter", -apple-system, "Segoe UI", Roboto, sans-serif;
  --font-mono: "Geist Mono", "SF Mono", Consolas, "Roboto Mono", monospace;

  --shadow-long:
    0px 89px 36px rgba(0, 0, 0, 0.01), 0px 50px 30px rgba(0, 0, 0, 0.03),
    0px 22px 22px rgba(0, 0, 0, 0.04), 0px 6px 12px rgba(0, 0, 0, 0.05);
  --shadow-xshort:
    0px 7px 3px rgba(0, 0, 0, 0.01), 0px 4px 2px rgba(0, 0, 0, 0.03),
    0px 2px 2px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.05);

  --radius-panel: var(--vkui-radius-sm);

  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.141 0.005 285.823);
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(55.2% 0.016 285.938);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.141 0.005 285.823);
  --color-primary: oklch(0.21 0.006 285.885);
  --color-primary-foreground: oklch(0.985 0 0);
  --color-secondary: oklch(0.967 0.001 286.375);
  --color-secondary-foreground: oklch(0.21 0.006 285.885);
  --color-muted: oklch(0.967 0.001 286.375);
  --color-muted-foreground: oklch(0.552 0.016 285.938);
  --color-accent: oklch(0.967 0.001 286.375);
  --color-accent-foreground: oklch(0.21 0.006 285.885);
  --color-destructive: oklch(63.7% 0.237 25.331);
  --color-border: oklch(0.92 0.004 286.32);
  --color-input: oklch(0.92 0.004 286.32);
  --color-ring: oklch(0.705 0.015 286.067);
  --color-subtle: oklch(0.705 0.015 286.067);
  --color-mute: oklch(63.7% 0.237 25.331);
  --color-mute-foreground: oklch(97% 0.05 25.331);

  /* VKUI */
  --color-active: oklch(69.6% 0.17 162.48);
  --color-active-foreground: oklch(97.9% 0.021 166.113);
  --color-active-ring: oklch(69.6% 0.17 162.48 / 20%);
  --color-active-accent: oklch(69.6% 0.17 162.48 / 10%);
  --color-inactive: oklch(0.7022 0.1892 22.23);
  --color-inactive-foreground: oklch(97.1% 0.013 17.38);
  --color-inactive-ring: oklch(57.7% 0.245 27.325 / 20%);
  --color-inactive-accent: oklch(57.7% 0.245 27.325 / 10%);
  --color-chart-1: oklch(0.646 0.222 41.116);
  --color-chart-2: oklch(0.6 0.118 184.704);
  --color-chart-3: oklch(0.398 0.07 227.392);
  --color-chart-4: oklch(0.828 0.189 84.429);
  --color-chart-5: oklch(0.769 0.188 70.08);
}

.vkui\:dark {
  --vkui-color-background: oklch(0.141 0.005 285.823);
  --vkui-color-foreground: oklch(0.985 0 0);
  --vkui-color-card: oklch(0.21 0.006 285.885);
  --vkui-color-card-foreground: oklch(0.985 0 0);
  --vkui-color-popover: oklch(0.21 0.006 285.885);
  --vkui-color-popover-foreground: oklch(0.985 0 0);
  --vkui-color-primary: oklch(0.92 0.004 286.32);
  --vkui-color-primary-foreground: oklch(0.21 0.006 285.885);
  --vkui-color-secondary: oklch(0.274 0.006 286.033);
  --vkui-color-secondary-foreground: oklch(0.985 0 0);
  --vkui-color-muted: oklch(0.274 0.006 286.033);
  --vkui-color-muted-foreground: oklch(0.705 0.015 286.067);
  --vkui-color-accent: oklch(0.274 0.006 286.033);
  --vkui-color-accent-foreground: oklch(0.985 0 0);
  --vkui-color-destructive: oklch(57.7% 0.245 27.325);
  --vkui-color-border: oklch(1 0 0 / 10%);
  --vkui-color-input: oklch(1 0 0 / 15%);
  --vkui-color-ring: oklch(0.552 0.016 285.938);
  --vkui-color-subtle: oklch(44.2% 0.017 285.786);
  --vkui-color-mute: oklch(57.7% 0.245 27.325);
  --vkui-color-mute-foreground: oklch(97% 0.05 27.325);

  /* VKUI */
  --vkui-color-active: oklch(0.7019 0.15768 160.4375);
  --vkui-color-active-foreground: oklch(0.9793 0.0207 166.11);
  --vkui-color-active-ring: oklch(0.7019 0.15768 160.4375 / 40%);
  --vkui-color-active-accent: oklch(0.7019 0.15768 160.4375 / 20%);
  --vkui-color-inactive: oklch(0.7022 0.1892 22.23);
  --vkui-color-inactive-foreground: oklch(0.9705 0.0129 17.38);
  --vkui-color-inactive-ring: oklch(0.7022 0.1892 22.23 / 20%);
  --vkui-color-inactive-accent: oklch(0.7022 0.1892 22.23 / 10%);
  --vkui-color-chart-1: oklch(0.488 0.243 264.376);
  --vkui-color-chart-2: oklch(0.696 0.17 162.48);
  --vkui-color-chart-3: oklch(0.769 0.188 70.08);
  --vkui-color-chart-4: oklch(0.627 0.265 303.9);
  --vkui-color-chart-5: oklch(0.645 0.246 16.439);
}

@layer base {
  * {
    border-color: var(--vkui-color-border);
    outline-color: color-mix(in oklab, var(--vkui-color-ring));
  }

  :root {
    color: var(--vkui-color-foreground);
    font-family: var(--vkui-font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
  .vkui\:text-mono-upper {
    font-family: var(--vkui-font-mono);
    font-weight: var(--vkui-font-weight-bold);
    font-size: var(--vkui-text-xs);
    line-height: var(--tw-leading, var(--vkui-text-xs--line-height));
    letter-spacing: var(--vkui-tracking-wider);
    line-height: 1;
  }

  .vkui\:button-group.vkui\:flex-row > *:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  .vkui\:button-group.vkui\:flex-col > *:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
}
